<div id="wrapper">
  <div id="leftcolumn">
      <div class="example-container" style="background: white; padding: 10px; margin: 2px;">
          <mat-form-field>
            <input matInput #input placeholder="Search Info" (keyup)="filterOrgInfo(input.value)">
          </mat-form-field>
        </div>
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element" (click)="animateMap(element)"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element" (click)="animateMap(element)"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Info </th>
                <td mat-cell *matCellDef="let element" (click)="animateMap(element)"> {{element.info}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
               <td mat-cell *matCellDef="let element">
                 <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>...</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="updateRecord(element)">
                        <span>Update</span>
                      </button>
                      <button mat-menu-item (click)="deleteRecord(element)">
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
            </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          </table>

          <mat-paginator [pageSizeOptions]="[4, 8]" showFirstLastButtons></mat-paginator>
        </div>
  </div>
  <div id="rightcolumn" style="color:black;">
      <div id="map" class="container"></div>
  </div>
</div>




